@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --dark: #262d31;
  --light: #ffffff;
  --primary: #4f6470;
  --secondary: #c6ac8f;
  --terciary: #fca311;
}

body {
  color: var(--light);
  background-color: var(--dark);
}

.btn {
  border: 1px solid;
  border-radius: 8px;
  padding: 6px 16px;
  background-color: var(--primary);
  color: var(--light);
}

.btn:hover {
  background-color: var(--secondary);
}
